.playkit-control-forward {
display: none;}


.playkit-icon-rewind-10 {
display: none;}

.playkit-control-settings	{
display: none;}

.playkit-control-fullscreen {
display: none;}

.playkit-control-picture-in-picture {
display: none;}